
/* Globales*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "opens sans", "Monserrat", sans-serif;
    font-size: 1.6rem;

 }
p {
    font-size: 1.8rem;
    line-height: 1.8;
}
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,h2,h3 {
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
}

 /* MENU*/

.contenedor-nav {
    display: flex;
    justify-content:space-around ;
    padding: 2rem 0;
    align-items: center;

}



.contenedor-nav a {
    margin-left: 2rem;
    color: #212F3C ;
}
.contenedor-nav a:hover{
    color: #5499C7;
}
 img {
     width: 100%;
     height: auto;
 }
.logo {
    width: 12rem;
}

.menu-icon {
    display: none;

}

/* swiper -slider*/

.swiper-container {
    width: 100%;
    height: 100%;
    background: #000;
}
.swiper-slide {
    font-size: 18px;
    color:#fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
    height: 80vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.swiper-slide .logo-slide {
    width: 22rem;
}
.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.swiper-slide .title {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}
.swiper-slide .subtitle {
    font-size: 4rem;
    text-align: center;
}
.swiper-slide .text {
    font-size: 2rem;
    line-height: 1.3;
    text-align: center;
}


/* Sección Conocenos */

.conocenos {
    background-color: #f7f7f7;
    padding-top: 60px;
    padding-bottom: 60px;
}
.contenedor-textos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
}
.contenedor-textos .titulos {
    width: 100%;

}
.contenedor-textos .parrafo {
    width: 100%;
}
.conocenos h6 {
   font-size: 1.8rem;
    letter-spacing: 0.8rem;
}
.conocenos h2 {
    font-size: 50px;
}

/* Sección card */

.card {
    margin-top: 4rem;
}
 .card .contenedor-card {
     display: flex;
     justify-content: space-between;
     gap: 5rem;
     align-items: center;

 }

 .card .tarjetas h4 {
     font-size: 20px;
 }
 .card .tarjetas p {
    text-align: justify;
 }

 /* Sección Reserva*/


.reserva {
    text-align: center;
    background-image: url("../img/cama.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.reserva {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reserva .textos-reserva, .ahora, .descripcion {
    color: white;
}

.reserva .textos-reserva h6 {
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    letter-spacing: 0.6rem;
}

.reserva .textos-reserva .ahora {
    font-size: 8rem;
    margin: 0;
}

/* Seccion testimonios */

.testimonios {
    background-image:linear-gradient(150deg,#2f3a44 25%,rgba(47,58,68,0.68) 100%), url("../img/living-fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding-top: 5rem;
}

.contenedor-testimonios {
    width: 120rem;
    height: 90vh;
    margin: auto;
}

.testimonios .titulos-testimonio h4 {
    letter-spacing: 0.7rem;
}

.testimonios .subtitulo {
    font-size: 5rem;
    font-family: "opens sans";
    margin: 0;
    color: #ffffff;
    font-weight: bold;
}

.testimonios .contenedor-comentarios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   align-content: center;
    gap: 4rem;
    height: 90%;
    max-width: 90%;
}
.testimonios .foto-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.titulos-testimonio , .titulos-testimonio h4 {
    margin: 0;
    color: #ffffff;
    display: block;
}
.testimonios .nombre {
    color: #ffffff;
}

.testimonios img {
    width: 70px;
    border-radius: 50%;
    height: 70px;
}

.testimonios .texto-comentario {
    width:100%;
    max-width: 40rem;
    font-family: "opens sans", sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #ffffff;
}


/* seccion footer */



.footer .contenedor-footer {
    width: 130rem;
    max-width: 95%;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.footer .contenedor-contactos {

}

.footer .titulo-footer {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-bottom: 4rem;
}

.footer .contenedor-datos {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.footer .titulo-contacto, .titulo-direccion {
    text-transform: uppercase;
    font-size: 1.4rem;
}

.footer .detalles {
    font-size: 1.4rem;
    color: rgba(0,0,0,0.5);
}

.footer .contenedor-mapa {
    margin-top: -3rem;
    -webkit-box-shadow: 3px 2px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 17px 0px rgba(0,0,0,0.75);;
}

.footer .boton {
    width: 15rem;
    height: 6rem;
    background-color: #ffa30f;
    border: none;
}

.footer .map {
    color: #ffffff;
}



.footer .texto-mapa {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: #0f87ff;
    text-align: center;
    color: #ffffff;
    margin: 0;
}
 .footer .boton-redes {
     width: 4.5rem;
     height: 4.5rem;
     border:none;
     font-size: 2rem;
     margin-left: 1rem;
 }

 .footer .face {
     background:#1877f2 ;
     color: #f7f7f7;
 }

 .footer .tube {
     background: #FF0000;
     color: #f7f7f7;
 }

 .footer .insta {
     background: #9E37B8;
     color: #f7f7f7;
 }

/*------------pagina Quienes Somos ------------------*/

.contenedor-portada {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/front-claro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
}

.textos-portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    color: #f7f7f7;
}

.textos-portada h2 {
    font-size: 8rem;
    font-family:"opens sans", "Monserrat", sans-serif, sans-serif;
}
.textos-portada .titulo-portada {
    font-size: 8rem;
    font-family: "opens sans", "Monserrat", sans-serif;
    margin: 0;
}

/*------Seccion Barra---------*/

.contenedor-barra {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin-top: -108px;
    background: #f7f7f7;
    padding-left: 4rem;
}

.barra-iconos .lugar,.barra-iconos  .ubicacion, .barra-iconos .relajo ,.boton-barra  {
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.barra-iconos .lugar,.barra-iconos  .ubicacion, .barra-iconos .relajo {
    position: relative;
    left: 4rem;
}

.barra-iconos i {
    font-size: 2.2rem;
    color: #c3cfd6;
}



.contenedor-barra .boton-barra {
    background-color:#b2b9c4;
    border: none;
    color: #ffffff;
    font-weight: bold;
}

/*------Seccion servicios---------*/

.servicios {
    background-image: url("../img/swiper/mar.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.contenedor-servicios {

    width: 1400px;
    max-width: 70%;
    margin: auto;
}

.servicios .titulos-servicios  {
    color: #ffffff;
    padding-top: 4rem;

}

.servicios .titulos-servicios p {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: bolder;
}

.servicios .titulos-servicios h3 {
    color: #ffffff;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 40%;
}
 .contenedor-flex {
     display: flex;
     justify-content: space-between;
 }

 .contenedor-flex .descripcion-servicio {
     color: #ffffff;
     font-size: 2rem;
 }

 .contenedor-flex i {
     color:#b2b9c4;
     font-size: 2.5rem;
 }

 .contenedor-flex .check {
     display: flex;
     align-items: center;
     gap: 2rem;
     width: 200px;
 }
 /*----------- acordeon*------------*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.contenedor-acordeon {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.contenedor-acordeon .acordeon {
    display: block;
    width: 45%;
}


/*-------Galeria-----*/

.portada-galeria {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/front-claro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#container{

    width: 150rem;
    max-width:90%;
    margin: auto;
    height: auto;
    padding-top: 6rem;
    /*border:2px solid #FFFFFF;*/
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:1.25rem;
    padding:0.3125rem;
    gap: 2rem;
    /*border:2px solid #FFFFFF;*/
}
.card{
    /*flex:1 0 12.5rem;*/
    margin:0.625rem;
    /*border:2px solid #FFFFFF;*/
}
.card-image{
    display:block;
    height:21.875rem;
    background-size:cover;
    box-shadow:0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    transition:transform 500ms ease-in;
    /*filter:grayscale(100%);
    /*border:2px solid #FFFFFF;*/
}
.card-image:hover{
    transform:scale(1.10);
    filter:grayscale(0%);
}
.card-image.card-1{
    background-image:url("../img/Galeria/comedor.jpg");
    width: 350px;
    height: 350px;
}
.card-image.card-2{
    background-image:url("../img/Galeria/caleta.jpg");
    width: 500px;
    height: 350px;
}
.card-image.card-3{
    background-image:url("../img/Galeria/cocina.jpg");
    width: 400px;
    height: 350px;
}
.card-image.card-4{
    background-image:url("../img/Galeria/habitacion.jpg");
    width: 600px;
    height: 500px;
}
.card-image.card-5{
    background-image:url("../img/Galeria/pelicano.jpg");
    width: 600px;
    height: 500px;
}
.card-image.card-6{
    background-image:url("../img/Galeria/living.jpg");
    width:400px;
    height:500px;
}
.card-image.card-7{
    background-image:url("../img/Galeria/habitacion.jpg");
    width:400px;
    height:500px;
}
.card-image.card-8{
    background-image:url("../img/Galeria/Entrada.jpg");
    width:400px;
    height:500px;
}


 /* medias queries*/

@media screen and (max-width: 1000px) {

    .conocenos .contenedor-textos {
        flex-direction: column;
    }

    .card {
        padding: 2rem;
    }
    .card .contenedor-card {
        flex-direction: column;
    }

    .testimonios {
        margin: auto;
        width: 100%;
    }
.testimonios .contenedor-comentarios {
    display:block;
    flex-direction: column;
    flex-wrap: nowrap;
   align-items: center;
}
 .testimonios .titulos-testimonio {
     text-align: center;
 }

 .contenedor-testimonios {
     width: 100%;
 }

    .testimonios .texto-comentario {
        max-width: 60rem;
    }
    .footer .contenedor-datos {

        flex-direction: column;
    }

    .footer .boton {
        margin-bottom: 1rem;
    }
}


@media screen and (max-width: 830px) {
    html {
        font-size: 55%;
    }

    .footer .contenedor-footer {
        flex-direction: column;
    }
    .footer .contenedor-datos {
        display: block;
    }

    .footer .contenedor-mapa {
        margin-top: 1rem;

    }

    iframe {
        width: 100%;
    }
}


@media screen and (max-width: 620px) {
    .menu-icon {
        display: block;
        width: 40px;
    }

    .menu {
        position:absolute;
        top: 80px;
        z-index: 10;
        left: 0px;
        background: black;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        padding: 1rem;
        color: #f7f7f7;

    }

    .testimonios .texto-comentario {
        font-size: 1.2rem;
    }
    .reserva .textos-reserva .ahora {
        font-size: 5rem;
    }
}

